extends layout 
block content
    main.content
        nav.navbar.navbar-expand-lg.shadow.p-2.mb-3.bg-white.bottom-shadow
            .container-fluid
                a.navbar-brand.text-dark(href='#' style= 'margin-right:70%') Welcome Back
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ml-auto
                        li.nav-item.dropdown(style='margin-left: auto')
                            a.nav-link.dropdown-toggle.text-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') #{loggedUser.firstname +" "+loggedUser.lastname}
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='#') Profile
                                li
                                    a.dropdown-item(href='#')
                                li
                                    form(method="POST" action='/logout')
                                        button.btn(type= 'submit' width='100px') Signout
        #stat-container.container-fluid
            .card.bottom-shadow.border-color.mr-3.ml-4.dashboard-card
                .card-body.m-1.p-2.pt-1.text-center
                    p.card-text.p-0.m-2.text-muted(style='font-size:20px;font-weight: bold;') Registered Farmers
                    img.card-logo.mb-2(src='../images/farm.png' alt='Ufarm logo')
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Active:
                        h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{activeFarmers}
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Not Activated:
                        h5.card-title.text-muted.text-center.mt-0.pt-1.pl-4(style='font-weight: bold;font-size:17px;') #{NotAppointedFarmers}
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Suspended:
                        h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{inactiveFarmers}
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Total Farmers: 
                        //- h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{totalProduce}
            .card.bottom-shadow.border-color.ml-4.dashboard-card
                .card-body.m-1.p-2.pt-1.text-center
                    p.card-text.p-0.m-2.text-muted(style='font-size:20px;font-weight: bold;') Produce Count
                    img.card-logo.mb-2(src='../images/farm.png' alt='Ufarm logo')
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Approved:
                        h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{approved.totalQuantity}
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Pending:
                        h5.card-title.text-muted.text-center.mt-0.pt-1.pl-4(style='font-weight: bold;font-size:17px;') #{pending.totalQuantity}
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Sold:
                        h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{sold.totalQuantity}
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Total Produce: 
                        //- h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{totalProduce}
            .card.bottom-shadow.border-color.ml-4.dashboard-card
                .card-body.m-1.p-2.pt-1.text-center
                    p.card-text.p-0.m-2.text-muted(style='font-size:20px;font-weight: bold;') Projected Sales Count
                    img.card-logo.mb-2(src='../images/farm.png' alt='Ufarm logo')
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Approved:
                        h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{new Intl.NumberFormat().format(approved.totalCost)} UGX
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Pending:
                        h5.card-title.text-muted.text-center.mt-0.pt-1.pl-4(style='font-weight: bold;font-size:17px;') #{new Intl.NumberFormat().format(pending.totalCost)} UGX
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Sold:
                        h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{new Intl.NumberFormat().format(sold.totalCost)} UGX
                    div.d-flex
                        p.card-text.text-muted.mb-0(style='font-size:18px; margin-right:5px') Total Produce: 
                        //- h5.card-title.text-muted.text-center.mt-0.pt-1(style='font-weight: bold;font-size:17px;') #{totalProduce}#{new Intl.NumberFormat().format(totalP.totalCost)} UGX
            .card.bottom-shadow.border-color.ml-4.dashboard-card
                .card-body.m-1.p-2.pt-1.text-center
                    h5.card-title.text-muted.text-center.mt-0.pt-0(style='font-weight: bold') 600
                    p.card-text.p-0.m-0.text-muted(style='font-size: 15px') Farmers Rating
        .container-fluid.stast-grid.mt-5
            .card(style='width: 300px; height: 300px')
                | .
                h6.card-subtitle.mb-0.text-muted.text-center(style='font-size: large') Farmers Per Ward in %
                .card-body
                    .d-flex.mb-4(style='margin-left: 12px')
                        .d-flex.mr-2
                            .box(style='background-color: #fda500; font-size: 5px')
                            strong(style='font-size: 12px') Ward 1
                        .d-flex.mr-2
                            .box(style='background-color: #dc143b')
                            strong(style='font-size: 12px') Ward 2
                        .d-flex.mr-2
                            .box(style='background-color: #77cc6d')
                            strong(style='font-size: 12px') Ward 3
                        .d-flex.mr-2
                            .box(style='background-color: #3fe0d0')
                            strong(style='font-size: 12px') Ward 4
                    .chart
            .card(style='width: 300px; height: 300px')
                | .
                h6.card-subtitle.mb-0.text-muted.text-center(style='font-size: large') Orders Per Ward in %
                .card-body
                    .d-flex.mb-4(style='margin-left: 12px')
                        .d-flex.mr-2
                            .box(style='background-color: #fda500; font-size: 5px')
                            strong(style='font-size: 12px') Ward 1
                        .d-flex.mr-2
                            .box(style='background-color: #dc143b')
                            strong(style='font-size: 12px') Ward 2
                        .d-flex.mr-2
                            .box(style='background-color: #77cc6d')
                            strong(style='font-size: 12px') Ward 3
                        .d-flex.mr-2
                            .box(style='background-color: #3fe0d0')
                            strong(style='font-size: 12px') Ward 4
                    .chart2
            .container
                .card.mt-0.ml-0(style='width: 500px; height: 680px')
                    .card-body
                        h5.card-title Recent Registered farmers
                        |  .
                        table.table.table-hover
                            thead
                                tr
                                    th(scope='col') No
                                    th(scope='col') Name
                                    th(scope='col') Ward
                                    th(scope='col') Phone Number
                            tbody
                                tr
                                    th(scope='row') 1
                                    td Mark
                                    td Otto
                                    td @mdo
                                tr
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
            .container
                .card.mt-5.ml-0(style='width: 620px; height: 330px')
                    .card-body
                        h5.card-title New Orders Awaiting Confirmation
                        table.table.table-hover
                            thead
                                tr
                                    th(scope='col') No
                                    th(scope='col') Mame
                                    th(scope='col') Ward
                                    th(scope='col') Phone Number
                            tbody
                                tr
                                    th(scope='row') 1
                                    td Mark
                                    td Otto
                                    td @mdo
                                tr
                                    th(scope='row') 2
                                    td Jacob
                                    td Thornton
                                    td @fat
                                tr
                                    th(scope='row') 3
                                    td(colspan='2') Larry the Bird
                                    td @twitter
        .container-fluid.pl-4.pr-5
            .card.mt-5(style='width: 100%')
                .card-body
                    h5.card-title Recent Uploaded Produce
                    table.table.table-hover
                        thead
                            tr
                                th(scope='col') Number
                                th(scope='col') Name
                                th(scope='col') Ward
                                th(scope='col') Email
                                th(scope='col') Phone No
                                th(scope='col') Action
                        tbody
                            tr
                                th(scope='row') 1
                                td Mark
                                td Otto
                                td @mdo
                                td @mdo
                                td
                                    button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit' style='width: 100px') Approve
                            tr
                                th(scope='row') 2
                                td Jacob
                                td Thornton
                                td @fat
                                td @mdo
                                td
                                    button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit' style='width: 100px') Approve
                            tr
                                th(scope='row') 3
                                td(colspan='2') Larry the Bird
                                td @twitter
                                td @mdo
                                td
                                    button.btn.btn-primary.mb-3.action-btn.rounded-pill(type='submit' style='width: 100px') Approve
        .footer
            small.mt-4.ml-5 © Refactory Cohort 12
            small.mt-4.mr-5 © Designed By Fauzia | fauzianaava@gmail.com | 0704545576
